grant {
	permission java.net.SocketPermission "*:1024-", "accept, resolve, connect";
};

grant codebase "file:/path/to/code" {
    permission java.io.FilePermission "\bin\-", "read";
}

