grant {
	permission java.net.SocketPermission "*:1024-", "accept, resolve, connect";
};

grant codebase "file:/path/to/code" {
    permission java.io.FilePermission "\D:\Programmazione\Workspace-Tesina-SSD\ProgettoSSDRMI\bin\-", "read";
}

